<!DOCTYPE html>
<html>
<head>
  <title>DoctorChatBot</title>
  <link rel="stylesheet" type="text/css" href="static/CSS/index.css">
</head>
</head>
<body>
  <div id="login-container">
    <h1>Welcome to Doctor ChatBot</h1>
    <form id="login-form">
      <input type="text" id="username" placeholder="Username" required />
      <input type="password" id="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
  </div>
  <div id="chat-container">
    <div id="header">
      <img id="image"  width="60px" height="25px" src="static/DrBot.jpg" />
      <h1>Doctor ChatBot</h1>
    </div>
    <div id="chat-log"></div>
    <div id="user-input-container">
      <input type="text" id="user-input" placeholder="Type your message..." autofocus />
      <button id="enter-button">Enter</button>
    </div>
    <div id="recommendation-container">
      <h3>Recommended Messages:</h3>
      <ul id="recommendation-list">
        <li onclick="addRecommendationToInput('Hello Doctor.')">Hello Doctor.</li>
        <li onclick="addRecommendationToInput('What are the common symptoms of COVID-19?')">What are the common symptoms of COVID-19?</li>
        <li onclick="addRecommendationToInput('Can you recommend any healthy diet plans?')">Can you recommend any healthy diet plans?</li>
        <li onclick="addRecommendationToInput('How can I manage stress?')">How can I manage stress?</li>
        <li onclick="addRecommendationToInput('What exercises are suitable for beginners?')">What exercises are suitable for beginners?</li>
      </ul>
    </div>
  </div>

  <script src="static/JS/app.js"></script>
</body>
</html>
